.wrapper {
  position: relative;
  animation: slide 100s linear infinite;
  will-change: transform;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
